# binaries
**/*.class
**/*.pyc
**/*.pyo
**/*.exe
**/build
**/dist
**/jcosim.spec
**/__pycache__
**/*.png

# IDE configs
.idea/
.vscode/

# python virtual env
env

# dump
dumps/

# jcosim output
**/tokens.txt
**/parsetree.png
**/symtable.json