[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
pydot = "*"
pyinstaller = "*"

[dev-packages]
pyinstaller = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
build-unix = "pyinstaller ./src/jcosim.py --add-data \"src/data:data\" --hidden-import distutils.unixccompiler --onefile --clean --noconfirm"
build-win = "pyinstaller ./src/jcosim.py --add-data \"src/data;data\" --hidden-import distutils.msvccompiler --onefile --clean --noconfirm"
