[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
pydot = "*"

[dev-packages]
pyinstaller = "*"
autopep8 = "*"

[requires]

[scripts]
build = "pyinstaller ./src/jcosim.py --add-data \"src/data;data\" --onefile --clean --noconfirm"
