[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"

[dev-packages]
pyinstaller = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
build = "pyinstaller ./src/jcosim.py --add-data \"src/data;data\" --onefile --clean --noconfirm"
